*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    color: aqua;
}
body{
    background-color: rgb(172, 174, 176);
    color: rgb(51, 50, 50);
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: left;
}
p{
    margin-bottom: 0.75rem;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.section1 div{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    padding-bottom: 15px;
}
.section2 div{
    width: 500px;
    text-align: center;
}
.section3 div{
    display: flex;
    justify-content: center;
    width: 500px;
}
.section1 div.container h1{
    font-size: 30px;
}
.section1 div.container h5{
    padding-top: 30px;
    padding-bottom: 20px;
}
.section4 div{
    float: left;
    margin: 0% 3%;
}
.section4 img.anhto{
    width: 120px;
    border-radius: 120px;
}
.section4 img.logo{
    width: 15px;
}
.section4 div.container div.anhto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 31, 182);
    width: 20%;
    height: 400px;
    padding-left: 2%;
    color: rgb(239, 236, 236);
}
button{
    color: rgb(244, 242, 242);
    border: 1px solid white;
    padding: 10px 30px;
    font-size: 7px;
    background-color: rgb(31, 31, 182);
}
.section4 div.container div.anhnho1{
    display:flex ;
    flex-direction: column;
}
.section4 div.container div.anhnho11{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    width: 200px;
    height: 150px;
    margin: 20px;
}
