*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(90, 89, 89);
    text-decoration: underline;
}
button{
    cursor: pointer;
}
button:hover{
    background-color: rgb(117, 117, 117);
}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(19, 19, 19);
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: left;
}
p{
    margin-bottom: 0.75rem;
}
.section{
    float: left;
    width: 100%;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.footer,
.footer a{
    background-color: black;
    color: white;
}
.two,
.two a{
    background-color: black;
    color: white;
}
ul li{
    list-style: none;
    float: left;
    margin-left: 13px;
    font-size: 14px;
}
.header .container{
    width: 100%;
}
.brand{
    float: left;
    width:33%;
    height: 60px;
}
.brand.header ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    margin-left: 10px;
}
.brand.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand.logo img{
    width: 180px;
}
.brand .account.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}
.brand.search{
    display: flex;
    align-items: center;
}
.account.search{
    flex: 1;
}
.account.search .form-group input::placeholder{
    color: black;
    opacity: 1;
}
.account.search input[name="search"]{
    padding: 20px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 30px;
    width: 130px;
    height: 43px;
    background-color: rgb(240, 239, 239);
    font-size: 12px;
}
.account.logo-mini{
    margin-right: 10px;
}
.account.logo-mini img{
    margin-left: 40px;
    height: 25px;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
span.line{
    display: inline-block;
    border-bottom: 1px solid rgb(196, 196, 196);
    width: 100%;
}
.nav .container{
    width: 100%;
}
.main .container{
    display: flex;
    flex-direction: column;
    width: 420px;
}
.main .main-p1{
    margin: 40px;
    text-align: center;
    font-size: 27px;
    font-weight: 450;
}
.main .form-group-main select{
    padding: 10px;
    height: 50px;
    width: 420px;
    border-radius: 7px;
    border: 1px solid rgb(94, 94, 94);
    color: black;
    margin-bottom:15px;
}
.main .form-group-main input{
    padding: 15px;
    height: 50px;
    width: 420px;
    border-radius: 7px;
    border: 1px solid rgb(94, 94, 94);
    color: black;
    margin-bottom:15px;
}
.main .form-group-main input::placeholder{
    font-size: 12px;
}
.main .main-p2 p{
    font-size: 12px;
    margin-bottom: 15px;
}
.main .main-p2 .mini{
    font-size: 9px;
    margin-bottom: 25px;
}
.main .form-group-main label{
    display: flex;
    align-items:flex-start;
    gap: 7px;
    margin-bottom: 25px;
}
.main .label input[type="checkbox"]{
    width: 13px;
    height: 13px;
    margin: 0px;
}
.main .label span{
    font-size: 12px;
}
.main button[type="submit"]{
    background-color: black;
    height: 50px;
    width: 420px;
    border-radius: 30px;
    color: white;
    font-size: 13px;
    font-weight: 550;
}
.main button[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    color: black;          
}
.one .container,
.two .container,
.footer .container{
    width: 100%;
}
.one p{
    font-size: 12px;
    margin-left: 25px;
    margin-top: 50px;
}
.one span{
    margin: 0px 5px;
}
.two .container{
    display: flex;
    border-bottom: 1px solid rgb(92, 92, 92);
    margin-bottom: 50px;
}
.two .logo{
    display: flex;
    width: 33%;
    height: 170px;
    justify-content: center;
    align-items: center;
}
.two .logo.left{
    justify-content: flex-start;
    margin-left: 50px;
}
.two .logo.middle{
    display: flex;
    flex-direction: column;
}
.two .logo.middle p{
    margin-top: 13px;
    text-align: center;
    font-size: 13px;
    width: 80px;
}
.two .logo.right{
    justify-content: flex-end;
    margin-right: 50px;
}
.two .logo.right a{
    word-spacing: 5px;
    font-size: 13px;
    margin-right: 7px;
}
.two .logo.right img{
    width: 20px;
}
.footer .container{
    box-sizing: border-box;
    padding: 0px 50px;
    display: flex;
    height: 340px;
}
.footer .foot{
    width: 20%;
}
.footer .foot.foot-sendemail{
    display: flex;
    flex-direction: column;
}
.footer .foot.foot-sendemail .email{
    margin-bottom: 20px;
}
.footer .email .form-group{
    flex: 1;
    display: flex;
}
.footer .email .form-group input{
    width:78%;
    background-color: black;
    height: 50px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 12px;
    margin-right: 3px;
    color: white;
}
.footer .email .form-group input::placeholder{
    color: white;
    font-size: 12px;
}
.footer .email .form-group button{
    width: 20%;
    border-radius: 8px;
    border: 1px solid white;
}
.footer h4{
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 450;
    color: azure;
}
.footer a{
    font-size: 13px;
    color: rgb(129, 129, 130);
}
.footer h6{
    font-size: 13px;
    margin-top: 50px;
    font-weight: 400;
    color: rgb(129, 129, 130);
}
.footer h2{
    font-size: 28px;
    font-weight: 470;
}